.chrome
.idea
.DS_STORE

# Dependency directories
bower_components
jspm_packages
node_modules

# Build / ASP.Net Core
*.suo
*.user
_ReSharper.*
bin
obj
config
packages

# Logs
logs
*.log
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock